<div class="row">
  <div class="col">
    <h1>Round <%= @round.id %></h1>

    <% if @round.movie.present? %>
      <p class="lead"><%= @round.movie.original_title %> by <%= @round.movie.directors.map(&:name).join(", ") %></p>
    <% else %>
      <p>No movie has been set yet.</p>
    <% end %>
  </div>
</div>

<% if @round.movie.present? %>
  <div class="row">
    <div class="col-6">
      <h2>Screenings</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>User</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% @screenings.each do |screening| %>
            <tr>
              <td><%= screening.user.full_name %></td>
              <td><%= screening.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if @current_screening.present? %>
    <%= link_to 'Set movie as unseen', screening_path(@current_screening), method: :delete, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to 'Set movie as seen', round_screenings_path(@round), method: :post, class: "btn btn-primary" %>
  <% end %>
<% end %>
